<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.ArchivesWhereAboutsMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.ArchivesWhereAbouts">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="INTEGER" property="stuNo" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="registered_residence" jdbcType="VARCHAR" property="registeredResidence" />
    <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="archive_recipient" jdbcType="VARCHAR" property="archiveRecipient" />
    <result column="receiving_address" jdbcType="VARCHAR" property="receivingAddress" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="post_code" jdbcType="INTEGER" property="postCode" />
  </resultMap>
</mapper>