<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.teamup01.mapper.ClassInfoMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.teamup01.entity.ClassInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_no" jdbcType="INTEGER" property="classNo" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="profession_no" jdbcType="INTEGER" property="professionNo" />
    <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
    <result column="class_num" jdbcType="INTEGER" property="classNum" />
    <result column="nomitor" jdbcType="CHAR" property="nomitor" />
    <result column="monitor_tel" jdbcType="INTEGER" property="monitorTel" />
  </resultMap>
</mapper>