<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.CounselorInfoMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.CounselorInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cou_no" jdbcType="INTEGER" property="couNo" />
    <result column="cou_name" jdbcType="VARCHAR" property="couName" />
    <result column="cou_phone" jdbcType="VARCHAR" property="couPhone" />
    <result column="cou_profession" jdbcType="VARCHAR" property="couProfession" />
  </resultMap>
</mapper>