<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.JobInfoMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.JobInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="employ_infor_no" jdbcType="CHAR" property="employInforNo" />
    <result column="corporate_name" jdbcType="VARCHAR" property="corporateName" />
    <result column="company_profile" jdbcType="VARCHAR" property="companyProfile" />
    <result column="recruitment_post" jdbcType="VARCHAR" property="recruitmentPost" />
    <result column="job_requirements" jdbcType="VARCHAR" property="jobRequirements" />
    <result column="working_place" jdbcType="VARCHAR" property="workingPlace" />
    <result column="recruiting_numbers" jdbcType="INTEGER" property="recruitingNumbers" />
    <result column="recruiting_time" jdbcType="DATE" property="recruitingTime" />
    <result column="recruiting_address" jdbcType="VARCHAR" property="recruitingAddress" />
  </resultMap>
</mapper>