<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.ProInfoMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.ProInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pro_id" jdbcType="VARCHAR" property="proId" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="pro_describe" jdbcType="VARCHAR" property="proDescribe" />
    <result column="pro_date" jdbcType="DATE" property="proDate" />
    <result column="pro_status" jdbcType="VARCHAR" property="proStatus" />
    <result column="team_id" jdbcType="VARCHAR" property="teamId" />
  </resultMap>
</mapper>