<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.StuEmployInfoMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.StuEmployInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="INTEGER" property="stuNo" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unifie_social_credit_code" jdbcType="INTEGER" property="unifieSocialCreditCode" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="occupational_type" jdbcType="VARCHAR" property="occupationalType" />
    <result column="pay" jdbcType="INTEGER" property="pay" />
    <result column="contract_time" jdbcType="DATE" property="contractTime" />
    <result column="probation" jdbcType="INTEGER" property="probation" />
    <result column="probation_start_time" jdbcType="DATE" property="probationStartTime" />
    <result column="working_place" jdbcType="VARCHAR" property="workingPlace" />
    <result column="relevance" jdbcType="BIT" property="relevance" />
    <result column="is_employ_difficulties" jdbcType="BIT" property="isEmployDifficulties" />
    <result column="is_employ" jdbcType="BIT" property="isEmploy" />
  </resultMap>
</mapper>