<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crw.bishe.team.mapper.UserTeamInfoMapper">
  <resultMap id="BaseResultMap" type="crw.bishe.team.entity.UserTeamInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ut_id" jdbcType="VARCHAR" property="utId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="team_id" jdbcType="VARCHAR" property="teamId" />
    <result column="is_leader" jdbcType="CHAR" property="isLeader" />
  </resultMap>
</mapper>